body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}

.side-padding {
  padding: 0 120px;
  @include breakpoint($tablet) {
    padding: 0 60px;
  }
  @include breakpoint($mobile) {
    padding: 0 30px;
  }
}

.header {
  @extend .side-padding;
  width: 100%;
  box-shadow: 0 1px 4px 0 rgba(28, 27, 26, 0.07);
  display: flex;
  height: 70px;
  align-items: center;
  top: 0;
  position: sticky;
  background-color: $white-color;
  z-index: 10;
  &-logo {
    padding: 24px 8px 24px 0;
    img {
      margin: 4px 0;
    }
  }
  &-nav {
    margin: 0 auto;
    @include breakpoint($tablet){
      display: none;
    }
  }
  &-burger {
    display: none;
    @include breakpoint($tablet) {
      display: block;
      margin-left: auto;
      background: url("../img/burger.svg") right no-repeat;
      width: 40px;
      height: 70px;
    }
  }
}

.header-menu {
  display: flex;
  list-style-type: none;
  margin-left: -10%;
}

.menu-item {
  height: 70px;
  padding: 0 10px;
  a {
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    color: $semi-transparent-text;
    transition: 0.2s;
    .item-text {
      font-size: 1em;
    }
    &:hover {
      color: $text-color;
    }
  }
}

.selected-item {
  a {
    color: $text-color;
    border-bottom: 3px solid $main-blue;
    span {
      margin-top: 3px;
    }
  }
}

.main {
  min-height: calc(100vh - 150px);
  @extend .side-padding;
  .main-subheader {
    padding: 45px 0 14px;
    border-bottom: 1px solid $divider-color;
    display: flex;
    justify-content: space-between;
    &-title {
      font-size: 24px;
      color: $text-color;
    }
  }
  .main-content {
    padding: 30px 0 10px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    @include breakpoint($tablet) {
      justify-content: center;
    }
  }
}

.view-controls {
  padding-top: 3px;
  .view-control {
    border: none;
    width: 18px;
    height: 18px;
    background-color: $white-color;
    cursor: pointer;
  }
  .table-view {
    background: url("../img/table-view-icon.svg") center no-repeat;
    margin-right: 14px;
  }
  .grid-view {
    background: url("../img/card-view-icon.svg") center no-repeat;
    margin-left: 14px;
    position: relative;
    &:before {
      content: '';
      width: 1px;
      height: 30px;
      background-color: $divider-color;
      position: absolute;
      top: -6px;
      left: -17px;
    }
  }
  @include breakpoint($tablet) {
    display: none;
  }
}
.content-item-grid {
  width: 282px;
  min-height: 480px;
  margin: 0 0 30px;
  border-radius: 1px;
  display: flex;
  flex-direction: column;
  @include breakpoint($tablet) {
    &:nth-child(odd) {
      margin: 0 12px 30px 24px;
    }
    &:nth-child(even) {
      margin: 0 24px 30px 12px;
    }
  }
  @include breakpoint($mobile) {
    &:nth-child(odd) {
      margin: 0 24px 30px;
    }
    &:nth-child(even) {
      margin: 0 24px 30px;
    }
  }
  .item-content {
    margin-top: 10px;
    border: 1px solid $border-color;
    border-bottom: none;
    padding: 32px 30px;
    align-self: stretch;
  }
  .item-actions {
    height: 40px;
    margin-top: auto;
    display: flex;
    align-items: stretch;
    > a {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .item-overview {
      width: 50%;
      border: 1px solid $border-color;
      font-size: 12px;
      font-weight: 600;
      color: $main-blue;
      text-transform: uppercase;
    }
    .item-buy {
      width: 50%;
      background-color: $main-blue;
      font-size: 12px;
      font-weight: 600;
      color: $white-color;
      text-transform: uppercase;
    }
  }
}
.content-general-info {
  margin: 0 0 20px 0;
  display: flex;
  .item-logo {
    margin-right: 20px;
    width: 55px;
    height: 55px;
  }
  .item-title {
    .item-name {
      font-size: 20px;
      line-height: 27px;
      color: $text-color;
      margin-bottom: 5px;
    }
    .item-rating {
      img {
        width: 16px;
        height: 16px;
      }
    }
  }
}
.list-general-info {
  display: flex;
  .list-item-logo {
    margin-right: 20px;
    img {
      width: 40px;
      height: 40px;
    }
  }
  .list-item-title {
    padding-top: 4px;
    .list-item-name {
      font-size: 14px;
      line-height: 19px;
      color: $text-color;
      margin-bottom: 3px;
    }
    .list-item-rating {
      .star {
        width: 11px;
        height: 11px;
      }
    }
  }
}
.list-item {
  display: flex;
  align-items: center;
  min-height: 40px;
  &-text {
    font-size: 14px;
    line-height: 19px;
    color: $text-color;
  }
  &-image {
    width: 14px;
    height: 14px;
    margin: 3px 5px 2px;
  }
  &-color {
    width: 14px;
    height: 14px;
    margin: 3px 5px 2px 0;
    border-radius: 8px;
    background-color: #999;
  }
  &-actions {
    min-height: 40px;
    display: flex;
    align-items: center;
    width: 15.1%;
    justify-content: flex-end;
    .item-overview {
      padding: 8px 24px;
      border-radius: 4px;
      border: 1px solid $border-color;
      text-transform: uppercase;
      color: $main-blue;
      margin-right: 8px;
      font-size: 10px;
      line-height: 14px;
      font-weight: 600;
      letter-spacing: 0.7px;
    }
    .item-buy {
      padding: 8px 22px;
      border-radius: 4px;
      background-color: $main-blue;
      text-transform: uppercase;
      color: $white-color;
      font-size: 10px;
      line-height: 14px;
      font-weight: 600;
      letter-spacing: 1px;
    }
  }
}
.content-description {
  .content-row {
    padding: 10px 0;
    border-bottom: 1px solid $divider-color;
    display: flex;
    &-name {
      font-size: 14px;
      line-height: 19px;
      color: $semi-transparent-text;
    }
    &-status {
      margin-left: auto;
      font-size: 14px;
      line-height: 19px;
      color: $text-color;
    }
    &-add-info-right {
      margin: 3px 0 0 4px;
      width: 15px;
      height: 15px;
    }
    &-add-info-left {
      margin: 3px 5px 0 0;
      width: 15px;
      height: 15px;
    }
  }
  .price {
    padding: 29px 8px 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    .price-num {
      font-size: 36px;
    }
    .price-period {
      font-size: 20px;
    }
  }
}
.metal-color {
  display: inline-block;
  margin: 0 2px -2px 0;
  height: 14px;
  width: 14px;
  border-radius: 8px;
  background-color: #999999;
}
.content-list-parameters {
  display: flex;
  width: 100%;
  padding: 0 0 18px;
}
.content-list-parameter {
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 1px;
  color: transparentize($text-color, 0.4);
  text-transform: uppercase;
  font-weight: 700;
  > p {
    max-width: 80px;
  }
}
.company-parameter {
  width: 15%;
  align-self: flex-start;
}
.covering-parameter {
  width: 9.5%;
  align-self: flex-start;
}
.type-parameter {
  width: 9%;
  align-self: flex-start;
}
.metal-level-parameter {
  width: 14.5%;
  align-self: flex-start;
}
.drugs-parameter {
  width: 7.3%;
  align-self: flex-start;
}
.primary-parameter {
  width: 9.6%;
  align-self: flex-start;
}
.yearly-parameter {
  width: 10%;
  align-self: flex-start;
}
.price-parameter {
  width: 10%;
  align-self: flex-start;
}
.content-item-list {
  display: flex;
  width: 100%;
  align-items: center;
  border-bottom: 1px solid $border-color;
  padding: 0 0 20px;
  margin: 0 0 18px;
  &:last-child {
    margin-bottom: 80px;
  }
}


.footer {
  @extend .side-padding;
  width: 100%;
  border: 1px solid rgba(28, 27, 26, 0.1);
  border-radius: 1px;
  height: 80px;
  display: flex;
  align-items: center;
}
.footer-details {
  background-color: $white-color;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 12px;
  > * {
    margin-right: 30px;
  }
  .footer-title {
    color: $black-color;
  }
  .footer-link {
    padding: 8px 0;
    color: transparentize($black-color, 0.3);
    transition: 0.3s;
    &:hover {
      color: $black-color;
    }
  }
}
