@font-face {
  font-family: OpenSans;
  src: url(../fonts/OpenSans/OpenSans-300.ttf);
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: OpenSans;
  src: url(../fonts/OpenSans/OpenSans-400.ttf);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: OpenSans;
  src: url(../fonts/OpenSans/OpenSans-600.ttf);
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: OpenSans;
  src: url(../fonts/OpenSans/OpenSans-700.ttf);
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: OpenSans;
  src: url(../fonts/OpenSans/OpenSans-800.ttf);
  font-weight: 800;
  font-style: normal;
}